[package]
name = "pallet-teeracle"
description = "A pallet to store cryptocurrency market data"
version = "0.1.0"
authors = ["Integritee AG"]
homepage = "https://integritee.network/"
repository = "https://github.com/integritee-network/pallets/teeracle/"
license = "Apache-2.0"
edition = "2018"
resolver = "2"

[dependencies]
log = { version = "0.4.14", default-features = false }
hex-literal = { version = "0.3.2", optional = true }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies.frame-support]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.frame-system]
default-features = false
package = 'frame-system'
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.sp-io]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.sp-core]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.sp-runtime]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.sp-std]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.substrate-fixed]
default-features = false
git = "https://github.com/encointer/substrate-fixed.git"
package = "substrate-fixed"
tag = "v0.5.7"

## benchmarking stuff
[dependencies.frame-benchmarking]
default-features = false
optional = true
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.pallet-balances]
optional = true
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.timestamp]
default-features = false
package = "pallet-timestamp"
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.pallet-teerex]
default-features = false
package = "pallet-teerex"
path = "../teerex"

[dependencies.test-utils]
default-features = false
path = '../tests-utils'

[dev-dependencies]
hex-literal = "*"
env_logger = "0.7.1"
log = "*"

[dev-dependencies.externalities]
package = "sp-externalities"
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "0.10.0-dev"

[dev-dependencies.sp-keyring]
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dev-dependencies.pallet-balances]
git = "https://github.com/paritytech/substrate.git"
branch = "master"
version = "4.0.0-dev"

[dependencies.teeracle-primitives]
default-features = false
package = "teeracle-primitives"
path = "../primitives/teeracle"

[features]
default = ['std']
std = [
    'codec/std',
    'log/std',
    'frame-support/std',
    'frame-system/std',
    "pallet-teerex/std",
    'scale-info/std',
    'sp-core/std',
    'sp-io/std',
    'sp-runtime/std',
    'sp-std/std',
    'substrate-fixed/std',
    "teeracle-primitives/std",
    "test-utils/std",
    "timestamp/std",
    # benchmarking stuff
    'frame-benchmarking/std',
    "pallet-balances/std",
]

runtime-benchmarks = [
    'frame-benchmarking',
    "hex-literal",
    "pallet-balances",
    "timestamp/runtime-benchmarks"
]
