[package]
name = "teerex-primitives"
version = "0.1.0"
authors = ["Integritee AG"]
homepage = "https://integritee.network/"
repository = "https://github.com/integritee-network/pallets/"
license = "Apache-2.0"
edition = "2021"

[dependencies]
codec = { version = "3.0.0", default-features = false, features = ["derive"], package = "parity-scale-codec" }
scale-info = { version = "2.0.1", default-features = false, features = ["derive"] }

# local
ias-verify = { path = "../../teerex/ias-verify", default-features = false }

# substrate dependencies
sp-core = { version = "6.0.0", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
sp-std = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }


[features]
default = ["std"]
std = [
    "codec/std",
    "scale-info/std",
    # local
    "ias-verify/std",
    # substrate
    "sp-core/std",
    "sp-std/std",
]
