[package]
name = "pallet-teerex"
description = "The remote attestation registry and verification pallet for integritee blockchains and parachains"
version = "0.9.0"
authors = ["Integritee AG"]
homepage = "https://integritee.network/"
repository = "https://github.com/integritee-network/pallet-teerex/"
license = "Apache-2.0"
edition = "2018"
resolver = "2"

[dependencies]
serde = { features = ['derive'], optional = true, version = '1.0.101' }
log = { version = "0.4.14", default-features = false }
hex-literal = { version = "0.3.2", optional = true }
scale-info = { version = "1.0", default-features = false, features = ["derive"] }

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.3.1'

[dependencies.ias-verify]
default-features = false
path = './ias-verify'

[dependencies.frame-support]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.frame-system]
default-features = false
package = 'frame-system'
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.sp-io]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.sp-core]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.sp-runtime]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.sp-std]
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.timestamp]
default-features = false
package = "pallet-timestamp"
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

## benchmarking stuff
[dependencies.frame-benchmarking]
default-features = false
optional = true
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dependencies.pallet-balances]
optional = true
default-features = false
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dev-dependencies]
hex-literal = "*"
env_logger = "0.7.1"
log = "*"

[dev-dependencies.externalities]
package = "sp-externalities"
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"
version = "0.10.0-dev"

[dev-dependencies.sp-keyring]
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[dev-dependencies.pallet-balances]
git = "https://github.com/paritytech/substrate.git"
branch = "polkadot-v0.9.12"

[features]
default = ['std']
std = [
    'serde',
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'ias-verify/std',
    'sp-core/std',
    'sp-io/std',
    'sp-runtime/std',
    'sp-std/std',
    'timestamp/std',
    'scale-info/std',
    # benchmarking stuff
    'frame-benchmarking/std',
    "pallet-balances/std",
]
runtime-benchmarks = [
    'frame-benchmarking',
    "hex-literal",
    "pallet-balances",
    "timestamp/runtime-benchmarks"
]
# allow workers to register without remote attestation for dev purposes
skip-ias-check = []
